<div class="jumbotron">
  <div class="container">
    <h1 style="text-align: center;">Reach A Pro</h1>
    <p style="text-align: center;">A network of pros here to help you and your baby...</p>
    <%= simple_form_for '/ask' do |f| %>
      <div class="row">
        <div class="">
          <div class="center-block form-inline">
            <%= f.error_notification %>
            <%= f.input :body, placeholder: 'Got a baby? Got a question?', input_html: {class: "input-lg"}, label: false  %>
            <%= f.button :submit, "Ask!", class: "btn btn-lg btn-success" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="container">
  <h1>Testimonials</h1>

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Mary N. - Peoria, Il.</h3>
        </div>
        <div class="panel-body">
          <p>"Reach A Pro sure saved the day for me and my baby! What would I have done without Reach A Pro?"</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Shirley T. - Busco, SC.</h3>
        </div>
        <div class="panel-body">
          <p>"Ya'll plain won't believe all the know how and expertice these pros got! Clean'd my baby up right."</p><br />
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Curtis S. - San Onofree, CA</h3>
        </div>
        <div class="panel-body">
          <p>"I don't have a baby yet, but when I do, I'll be sure to use Reach A Pro! Gee I can't wait for a baby..."</p><br />
        </div>
      </div>
    </div>
  </div>
</div>
