@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  padding-top: 50px;
}

.jumbotron .form-inline {
  text-align: center;
}

.jumbotron input[type="text"] {
  width: 400px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .jumbotron input[type="text"]{
    width: 450px;
  }
 }


.center-block {
  float: none !important
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
